#near-event{
    z-index:9999;
    position:fixed;
    bottom:0;
    width: 100%;
}

.near-event-banner {
    position: relative;
    width: 100%;
}

.near-event-banner-image img{ 
    width: 100%;
    height: auto;
    display: block;
}

.near-event-banner-image a{
    display: block;
    outline: none;
    transition: box-shadow .3s;
    position: relative; 
}

.near-event-banner-text {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
}

.near-event-banner-text .form-label-m {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .near-event-banner-text .form-label-m {
        font-size: 13px;
        line-height: 1.3;
    }
}

@media screen and (min-width: 1800px )  {
 .near-event-banner-image {
    max-width: 1200px;
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
    bottom: 0;
    }
}